@import "../../app/vars.scss";

.card {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: $global-gap;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        background: rgba(8, 164, 237, 0.2);
        z-index: 2;
    }

    &::before,
    .card__image {
        width: 100%;
        aspect-ratio: 1.2;

        object-fit: cover;
        object-position: 50% 50%;

        border-radius: $border-radius;
    }


    .card__content {
        border-radius: $border-radius;
        background-color: $primary;
        color: $white;

        padding: 1rem $global-gap;
        text-align: center;

        height: 100%;
    }
}