@import "../../app/vars.scss";

.why_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $global-gap;

  // @media (max-width: 768px) {
  //   display: block;
  // }

  .why_us__software {
    .software__header {
      background: $primary;
      border-radius: $border-radius;
      padding: 1rem;
      display: grid;
      place-items: center;
    }

    .software__logos {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      gap: calc(2 * $global-gap);

      @media (max-width: $width-mobile) {
        flex-direction: column;
        gap: calc(3 * $global-gap);
      }

      margin-block: 2rem;
      img {
        height: clamp(40px, 3vw, 85px);

      }
    }
  }

  
  .why_us__content {    
    background: $primary;
    border-radius: $border-radius;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .why_us__content_text {
    width: 50%;
    padding: 0.5rem 0 0.5rem 0;

    @media (max-width: 768px) {
      width: 100%;
    }

    .why_us__header {
      margin: 0.5rem 0rem 2.5rem;
      font-weight: 400;
      font-size: clamp(1.5rem, 2vw, 2.5rem);
      font-family: $font-content;
      color: white;
    }

    .why_us__content {
      line-height: 1.9;
    }
  }

  .why_us__image__container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 768px) {
      display: none;
    }

    .why_us__image {
      height: 16rem !important;
      position: relative !important;
      margin-left: 4rem !important;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      .why_us__image {
        width: 100% !important;
        height: auto !important;
        position: relative !important;
      }
    }
  }

  .why_us__image__container__mobile {
    display: none;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      display: block;
      width: 100%;
    }

    .why_us__image__mobile {
      width: 100% !important;
      height: auto !important;
      position: relative !important;  // Changed to relative
    }
  }
}
