@import "../../app/vars.scss";

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;

    @media only screen and (max-width: $width-tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $width-mobile) {
        grid-template-columns: repeat(1, 1fr);
    }

    gap: 2rem;

    .gallery__image {
        border-radius: $border-radius;
        cursor: pointer;
        width: 100%;
        transition: scale 0.2s ease;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        &:hover {
            scale: 110%;
        }
    }
}
