@import "../../app/vars.scss";

.about__us {
  background: $primary;
  border-radius: $border-radius;
  padding: 1rem;
  display: flex;
  justify-content: space-around;

  .about__us__content__container {
    width: 50%;
    padding: 0.5rem 0 0.5rem 0;

    .about__us__header {
      margin: 0.5rem 0rem 2.5rem;
      font-weight: 400;
      font-size: xx-large;
    }

    .about__us__content {
      line-height: 1.9;
    }
  }

  .about__us__image__container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .about__us__image{
        // width: 500px !important;
        height: 20rem !important;
        position: relative !important;
        margin-left: 4rem;
    }
  }
}
