@import "../../app/vars.scss";

@keyframes spin {
    0% {
        rotate: 0deg
    }

    100% {
        rotate: 1turn;
    }
}


.banner {
    width: 100%;
    aspect-ratio: 2.5;
    overflow: hidden;
    position: relative;
    border-radius: $banner-border-radius;
    
    img {
        position: static !important;
    }

    @media only screen and (max-width: $width-tablet) {
        aspect-ratio: 1.5;

        .overlay {
            top: 40% !important;
            gap: 0.1rem !important;
        }

        .content {
            white-space: nowrap;
            left: 50%;
            transform: translateX(-50%);
            width: fit-content;

            $size: $banner-border-radius;

            &::before {
                top: calc(100% - $size ) !important;
                right: calc(-1*$global-gap - $size) !important;
                background-image: radial-gradient(circle at 100% 100%, transparent $size, white calc($size + 1px), ) !important;
                box-shadow: calc(-1 * $size + 4px) calc(-1 * $size - 2px) 0 2px white !important;
                rotate: -90deg !important;
            }
        }

    }

    @media only screen and (max-width: $width-mobile) {
        aspect-ratio: 1;

        .overlay {
            top: 35% !important;

            button {
                padding: 0.6rem 2rem !important;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(6, 57, 80, 0.637);
    }


    .overlay {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        color: $white;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;

        .subtitle {
            font-family: $font-title;
            font-size: clamp(15px, 1.5vw, 30px);
        }

        .title {
            font-family: $font-content;
            font-weight: 700;
            font-size: clamp(30px, 4vw, 80px);
            display: flex;
            align-items: center;
            flex-wrap: nowrap;

            * {
                white-space: nowrap;
            }

            .cog {
                
                width: clamp(30px, 3vw, 70px) !important;
                margin-top: 1%;
                animation: spin infinite 5s linear;
            }
        }

        button {
            font-family: $font-title;
            font-size: $fontsize-content;
            font-weight: 500;
            padding: 0.75rem 3rem;
            margin-top: 1rem;
            background: $white;
            outline: transparent;
            border: none;
            border-radius: $banner-border-radius;
            cursor: pointer;

            scale: 100%;
            transition: scale 0.2s ease-out;

            &:hover {
                scale: 110%;
            }

            &:active {
                scale: 90%;
            }
        }

    }

    .content {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        z-index: 5;
        background: $primary;
        padding: 1rem;

        gap: 1.2rem;
        border-radius: $banner-border-radius;
        box-shadow: 0 0 0 $global-gap white;

        $size: $banner-border-radius;

        transform-style: preserve-3d;

        &::before {
            content: "";
            width: $size;
            aspect-ratio: 1;
            position: absolute;
            top: calc(-1*$global-gap - $size);
            right: 0;

            background-image: radial-gradient(circle at 100% 100%, transparent $size, white calc($size + 1px));
            box-shadow: 0 calc(-1 * $size - 2px) 0 2px white;
            rotate: 180deg;


            transform: translateZ(-1px);
        }

        &::after {
            content: "";
            width: $size;
            aspect-ratio: 1;
            position: absolute;

            bottom: 0;
            left: calc(-1*$global-gap - $size);

            background-image: radial-gradient(circle at 100% 100%, transparent $size, white calc($size + 1px));
            box-shadow: calc(-1 * $size - 2px) 0 0 2px white;
            rotate: 180deg;


            transform: translateZ(-1px);
        }

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            img {
                width: clamp(30px, 3vw, 35px) !important;
            }

            .text {
                display: flex;
                flex-direction: column;
                color: $white;
                align-items: center;
                font-family: $font-title;

                .title {
                    font-size: clamp(14px, 2vw, 25px);
                }

                .subtitle {
                    font-size: clamp(12px, 1.5vw, 15px);
                }
            }
        }
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}